@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5eb;
  --foreground: #b3907a;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
